/* tags */
body {
  height: 100vh;
  overflow: hidden;
  background-color: #EBEBEB;
  transition: all .5s ease;
}

ul li {
  list-style-type: none;

}

a {
  color: white;
}

/* nav */
.main-nav {
  margin-top: 80px;
}

.nav-text {
  display: inline;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.logo {
  display: inline;
  padding: 5px;
  width: 49px;
  height: 49px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all .5s ease;
  cursor: pointer;
}

.logo:hover {
  background-color: #528EC2;
}

/* left column */

.tilt-div {
  transform-style: preserve-3d;
}

#left-col {
  background-image: url(../images/B.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

#right-col {
  height: 100vh;
  align-items: center;
  display: flex;

}

.header-text {
  font-size: 80px;
  letter-spacing: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transform: translateZ(20px);
}

.secondary-text {
  justify-content: flex-end;
  display: flex;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 25px;
  color: #528EC2;
  transform: translateZ(20px);
}

#projects-list {
  position: relative;
  z-index: 2;
  transform: translateZ(20px);
}

#projects-header {
  margin-bottom: 30px;
}

.project-links {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-decoration: none;
  transition: all .5s ease;
}

.project-links:hover {
  cursor: pointer;
  color: #528EC2;
  text-decoration: line-through;
  margin-bottom: 30px;
}

.project-images {
  position: absolute;
  /* z-index: 1; */
  width: 40%;
  height: 100%;
  left: 5%;
  top: 30%;
  height: auto;
  opacity: 0;
  transition: all .5s ease;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: translateZ(20px);
  border: 3px solid white;
}

.icon {
  width: 34px;
  height: auto;
}

#github-icon {
  top: 43%;
  position: absolute;
  right: 30px;
  cursor: pointer;
  z-index: 2;
}

#linkedin-icon {
  top: 50%;
  position: absolute;
  right: 30px;
  cursor: pointer;
  z-index: 2;
}

/* project info */

.project-info {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
  top: 200%;
  transition: all .5s ease;
}

.info-div {
  position: relative;
  top: 64%;
}

.link-btn {
  background-color: #528EC2;
  /* padding: 17px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.close-btn {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* about me */
.about-me {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0px;
  left: -100%;
  background-color: white;
  height: 100vh;
  width: 100%;
  transition: all .5s ease;
}

#about-link {
  cursor: pointer;
}

#about-link:hover {
  color: #528EC2;
}

.about-col {
  align-items: center;
  display: flex;
  justify-content: center;
}

#profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.paragraph-text {
  width: 50%;
}

#back-to-home {
  font-family: 'Roboto Mono', sans-serif;
  margin: 100px;
  /* padding: 10px; */
  letter-spacing: 3px;
  cursor: pointer;
  transition: all .5s ease;

}

#back-to-home:hover {
  color: #528EC2;
  text-decoration: line-through;
}

@media only screen and (max-width: 1200px) {
  body {
    overflow: auto;
  }
}