/* Tags */
body {
  height: 100vh;
  overflow: hidden;
  background: url('../images/mountain.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Bootstrap Edits */
.btn-primary {
  background-color: #395056 !important;
  border: none;
  border-radius: 0;
  margin: 20px;
}

/* index page */

.side-nav {
  position: fixed;
  height: 100vh;
  width: 50px;
  background-color: #313131;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin-top: 15%;
}

.small-text {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.hr-main {
  border: 1px solid #639491;
  width: 100px;
}